%div.container
  %div.row

    = form_for @bottle, url: bottles_path do |f|
      %div
        = f.label "Happy Message"
        = f.text_field :message, placeholder: "どんな幸せがありましたか?"

      = f.submit '瓶を流す', class: "btn"
