%div.container-fluid
  %div.row-fluid

    %ul.buttle-list
      - @bottles.each do |bottle|
        %li.well
          %span.message= bottle.message
          %span.created-at= bottle.created_at.strftime("%Y-%m-%d %H:%M")

