.jumbotron.masthead
  .container
    %h1 Happy Bottle

    %p
      %i What is this?

    %p
      = link_to 'Sign in', new_user_path, class: 'btn btn-primary btn-large'

.container
  %h2
    %i 誰向けか (FIXME)

  %h2
    %i どういうときに使うか (FIXME)

  %h2
    %i なんのために使うか (FIXME)
