.jumbotron.masthead
  .container
    .hero-unit
      %h1 Happy Bottle

      %p.title-detail
        ちょっとした幸せを小瓶に詰めて、あなたのパートナーにお届けします。

      %p
        = link_to 'Sign In', new_session_path, class: 'btn btn-primary btn-large'

.container
  .row-fluid
    .span4
      %h2
        こんな人向け
      %p
        長年一緒に過ごしてきたパートナーと、もっと幸せを共有したいあなたへ送ります。

    .span4
      %h2
        シチュエーション
      %p
        毎日、少しでも幸せだったことをそっと瓶につめておきましょう。
        その気持ちは、いつかあなたのパートナーに届くはずです。

    .span4
      %h2
        嬉しいこと
      %p
        ほんの少しの幸せやちょっとした嬉しさを、あなたのパートナーにもおすそわけしませんか？
        気持ちが過ぎ去ったあとでも、Happy Bottle がお届けします。
