.jumbotron.masthead
  .container
    .hero-unit
      %h1 Happy Bottle

      %p.title-detail
        ちょっとした幸せを小瓶に詰めて、あなたのパートナーにお届けします。

      %p
        = link_to 'Sign In', new_session_path, class: 'btn btn-primary btn-large'

.container
  .row-fluid
    .span4
      %h2
        こんな人向け
      %p
        長年一緒に過ごしてきたパートナーと、もっと幸せを共有したいあなたへ贈ります。

    .span4
      %h2
        シチュエーション
      %p
        毎日、少しでも幸せだったことをそっと瓶につめておきましょう。
        その気持ちは忘れかけた頃に、あなたのパートナーへメールで届くはずです。

    .span4
      %h2
        嬉しいこと
      %p
        ほんの少しの幸せやちょっとした嬉しさを、あなたのパートナーにもおすそわけしませんか？
        目の前では照れくさくて相手に伝えづらい日々の感謝の気持ちを伝えてみませんか？
        そんなあなたの素直な気持ちを、Happy Bottle があなたに代わってこっそりお届けします。
