/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-responsive
 *= require jqcloud
 *= require_self
 *= require_tree .
 */

body {
  background-color: white;
  background-attachment: fixed;
  background-position: center top;
  background-repeat:  repeat;

  padding-right: 0px;
  padding-left: 0px;
}

.jumbotron {
  text-align: center;
}

.masthead {
  padding-top: 70px;
  margin-bottom: 0;

  h1 {
    font-size: 90px;
    line-height: 1;
    letter-spacing: -2px;
  }

  p {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 200;
    line-height: 1.25;
  }

  .btn {
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
  }
}

.footer {
  text-align: right;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;

  p {
    margin-bottom: 0;
    color: #777;
  }
}

.content-wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-fixed-top {
  margin-right: 0px;
  margin-left: 0px;
}

@media (max-width: 480px) and (min-width: 768px) {
}
@media (min-width: 768px) and (max-width: 979px) {
  .masthead {
    h1 {
      font-size: 120px;
    }
  }
}
@media (min-width: 980px) and (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
  .masthead {
    h1 {
      font-size: 120px;
    }
  }
}
