.buttle-list {
  list-style-type: none;
  margin: 0px;

  .message {
    font-size: 20px;
    font-weight: bold;
  }
  .created-at {
    float: right;
  }
}

.tag-title {
  color: gray;
  font-style: italic;
}
